SERVER_ADDRESS=0.0.0.0:3000
DB_SOURCE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_ADDRESS=
REDIS_PASSWORD=
REDIS_DB=

JWT_SECRET=
TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

# --- EMAIL (Gmail SMTP) ---
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_PASSWORD=

CLOUDINARY_URL=